/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.vscode
/src/test-output/
/src/
.env
/cache/
/codegen/
/e2e/
/examples/
/should-fail-tests/
