name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: purescript-contrib/setup-purescript@v2.0.0
        with:
          purescript: "0.15.7"
          psa: "0.8.2"
          spago: "0.20.9"

      - name: Cache PureScript dependencies
        uses: actions/cache@v2
        # This cache uses the .dhall files to know when it should reinstall
        # and rebuild packages. It caches both the installed packages from
        # the `.spago` directory and compilation artifacts from the `output`
        # directory. When restored the compiler will rebuild any files that
        # have changed. If you do not want to cache compiled output, remove
        # the `output` path.
        with:
          key: k1-${{ runner.os }}-spago-${{ hashFiles('**/*.dhall') }}
          path: |
            .spago
            output
            codegen/schema/.spago
            codegen/schema/output
            examples/1-simple/.spago
            examples/1-simple/output
            examples/2-codegen/.spago
            examples/2-codegen/output
            
      - run: spago build
      - run: npm i 
      - run: npm run bundle
      - run: npm t
