name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: purescript-contrib/setup-purescript@main
        with:
          purescript: "0.13.8"
          psa: "0.7.2"
          spago: "0.19.1"

      - name: Cache PureScript dependencies
        uses: actions/cache@v2
        # This cache uses the .dhall files to know when it should reinstall
        # and rebuild packages. It caches both the installed packages from
        # the `.spago` directory and compilation artifacts from the `output`
        # directory. When restored the compiler will rebuild any files that
        # have changed. If you do not want to cache compiled output, remove
        # the `output` path.
        with:
          key: ${{ runner.os }}-spago-${{ hashFiles('**/*.dhall') }}
          path: |
            .spago
            output
            examples/1-simple/.spago
            examples/1-simple/output
            examples/2-codegen/.spago
            examples/2-codegen/output
      - run: spago build
      - run: npm i 
      - run: npm run bundle
      - run: npm t

      - name: Use Node.js 
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

